body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

ul li {
    display: flex;
}

.container {
    margin: 0 auto;
}

.menu {
    display: flex;
}

.menu li a {

    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.menu li {
    margin-right: 65px;

}

.K {
    font-style: italic;
}

.M {
    font-weight: bold;
}

.X {
    text-decoration-line: underline;

}

.code-js {
    box-shadow: -1px 4px 16px 1px rgb(0, 0, 0); 
}